.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100wh;
  height: 40px;
  background-color: white;
}

.sportseeInc {
  margin-left: 100px;
}

.contentRight {
  display: flex;
  gap: 20px;
  margin-right: 100px;
}
