.nameInfo {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  height: 170px;
}
.img {
  border-radius: 10px;
  margin-left: 20px;
}

.contentName {
  margin-left: 20px;
}

.name {
  font-weight: 500;
  font-size: 22px;
}
