:root {
  --color-darkblue: #0b23f4;
  --color-lightblue: #5465f7;
  --color-background: #f2f3ff;
  --color-textgray: #707070;
  --color-textlightblue: #b6bdfc;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background);
}

body {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 10px;
  background-color: var(--color-darkblue);
  color: white;
}
